
.card-styles {
    border: 1px solid lightblue;
    width: 30%;
    margin-bottom: 2em;
}
/* I can't seem to get these cards to display side-by-side. I've tried displaying inline and flexbox... hmmmmmm */
.card-styles > header {
    border: 1px dotted lightblue;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

img + p {
    text-align: justify;
    margin: 0 5px;
}

section h3 ~ ul {
    font-weight: 900;
}

li {
    list-style-type: none;
}

.availability-indicator {
    color: rgb(255, 0, 55);
    background-color: grey;
}

h3 {
    margin: 0 0 -.5em 1em;;
}

footer {
    margin: -.7em 0 .7em 0;
}